  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:11985/TiraggoWcfClass.svc" />
    </client>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" maxBufferSize="2147483647"
                          maxReceivedMessageSize="2147483647"
                          maxBufferPoolSize="0"
                          helpEnabled="true"
                          automaticFormatSelectionEnabled="false"
                          faultExceptionEnabled="true">
          <readerQuotas maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxDepth="2147483647" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>


    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>